.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.6rem;
  margin: 100px 150px;
  color: rgba(19, 60, 106, 1);
}

.contact-form h1 {
  font-size: 4rem;
}

.contact-form label {
  display: flex;
  width: 50vw;
  justify-content: start;
  font-weight: bold;
}

.contact-form input,
textarea {
  font-size: 2.5rem;
  width: 50vw;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid rgb(53, 113, 181);
  border-radius: 15px;
}

.contact-form button {
  width: 11.5%;
  font-size: 2.5rem;
  padding: 12px;
  background: rgb(53, 113, 181);
  color: white;
  border-radius: 15px;
  border: 1px solid black;
}

.contact-form button:hover {
  cursor: pointer;
  background: rgb(95, 152, 216);
}

@media only screen and (max-width: 1200px) {
  .contact-form h1 {
    font-size: 3.75rem;
  }

  .contact-form button {
    width: 17.5%;
  }
}

@media only screen and (max-width: 950px) {
  .contact-form {
    margin: 75px 100px;
  }

  .contact-form h1 {
    font-size: 3.6rem;
  }

  .contact-form label {
    width: 100%;
  }

  .contact-form input,
  textarea {
    width: 100%;
  }

  .contact-form button {
    width: 22.5%;
  }
}

@media only screen and (max-width: 800px) {
  .contact-form button {
    width: 30%;
  }
}

@media only screen and (max-width: 650px) {
  .contact-form h1 {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .contact-form {
    margin: 75px 25px;
  }

  .contact-form h1 {
    padding-bottom: 20px;
  }

  .contact-form button {
    width: 40%;
  }
}

@media only screen and (max-width: 400px) {
  .contact-form h1 {
    padding-bottom: 15px;
    font-size: 3.1rem;
  }

  .contact-form label,
  .contact-form button,
  .contact-form input,
  textarea {
    font-size: 2.1rem;
  }

  .contact-form button {
    width: 50%;
  }
}
