.intro-section {
  display: flex;
  flex-direction: column;
  color: white;
  background: rgb(53, 113, 181);
  background: linear-gradient(
    135deg,
    rgba(53, 113, 181, 0.8464635854341737) 0%,
    rgba(19, 60, 106, 1) 100%
  );
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 40px;
}

header nav {
  display: flex;
  justify-content: center;
}

header a {
  text-decoration: none;
  color: white;
  padding: 0px 5px;
  font-size: 2.5rem;
}

header a:hover {
  cursor: pointer;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.devIcon {
  font-size: 3.2rem;
}

.devIcon:hover {
  text-decoration: none;
  color: rgb(232, 222, 222);
}

.intro-section div {
  height: 95vh;
  font-size: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 40px;
}

.intro-article {
  padding-bottom: 15vh;
  padding-left: 20px;
}

.intro-button {
  font-size: 2.3rem;
  padding: 10px;
  margin-right: 25px;
  background: rgb(53, 113, 181);
  color: white;
  border-radius: 15px;
  border: 1px solid white;
  box-shadow: 1px 1px 8px white;
  transition: all 0.2s ease-in-out;
}

.intro-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {
  .intro-article h1 {
    font-size: 4.5rem;
  }

  .intro-article p {
    font-size: 3.75rem;
  }

  .intro-article button {
    font-size: 1.9rem;
    margin-right: 10px;
  }

  header nav a {
    font-size: 2.25rem;
  }

  .devIcon {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .header-page-nav {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .intro-section div {
    height: 90vh;
  }

  .intro-article {
    padding-bottom: 35vh;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .header-page-devicons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .devIcon {
    font-size: 3.25rem;
  }
}
