

.portfolio-section {
  font-size: 2.5rem;
  background: rgb(53,113,181);
  background: linear-gradient(135deg, rgba(53,113,181,0.8464635854341737) 0%, rgba(19,60,106,1) 100%);
  padding: 175px 100px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5px;
}

.portfolio-heading h1 {
  font-size: 4rem;
  color: white;
  padding-bottom: 20px;
  padding-left: 12.5px;
}

.portfolio-section img {
  height: auto;
  max-width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.portfolio-section img:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 8px 8px whitesmoke;
}

.portfolio-section div p {
  text-align: center;
  font-style: italic;
  color: white;
}

@media only screen and (max-width: 1600px) {
  .portfolio-section {
    padding: 125px 50px;
  }
}

@media only screen and (max-width: 1475px) {
  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .portfolio-section {
    padding: 75px 100px;
  } 
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
} 

@media only screen and (max-width: 750px) {
  .portfolio-heading h1 {
    font-size: 3.4rem;
  }
}

@media only screen and (max-width: 700px) {
  .portfolio-section {
    padding: 60px 60px;
  } 
}

@media only screen and (max-width: 600px) {
  .portfolio-heading h1 {
    font-size: 3.1rem;
  }
}

@media only screen and (max-width: 500px) {
  .portfolio-heading h1 {
    font-size: 2.9rem;
    text-align: center;
  }

  .portfolio-section {
    padding: 40px 40px;
  } 
}




